@import "@packages/ui/styles/mixins.scss";

.first-image {
  span {
    height: 100% !important;

    @include mq("md") {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }
}

.top-right {
  span {
    border-top-right-radius: 0.5rem;
  }
}

.bottom-right {
  span {
    border-bottom-right-radius: 0.5rem;
  }
}

.gallery-icon {
  bottom: 3rem;
  left: 2rem;

  @include mq("md") {
    bottom: 3rem;
    left: 2rem;
  }
}
