@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@layer components {
  .h1 {
    @apply text-4xl md:text-5xl xl:text-6xl leading-tight pt-2;
  }
  .h2 {
    @apply text-3xl leading-8;
  }

  .h3 {
    @apply text-xl leading-6;
  }

  .white-opacity {
    @apply opacity-70 hover:opacity-100 transition-opacity duration-500;
  }

  .button {
    @apply py-3 px-6 text-lg text-white hover:text-black uppercase bg-black hover:bg-gray-200;
  }

  .p-header {
    @apply mt-28 md:mt-24;
  }
  .main {
    @apply container mx-auto max-w-screen-lg px-4 lg:px-0;
  }
}
