@use "sass:map";
@import "./variables.scss";

/* stylelint-disable value-no-vendor-prefix */

@mixin ellipsis($laneLimit) {
  display: -webkit-box;
  -webkit-line-clamp: #{$laneLimit};
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "No value could be retrieved from `#{$breakpoint}`. " + "See #{map-keys($breakpoints)}.";
  }
}
