@import "../../styles/mixins.scss";

.firstImage {
  span {
    height: 100% !important;
    @include mq("md") {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }
}

.topRight {
  span {
    border-top-right-radius: 0.5rem;
  }
}

.bottomRight {
  span {
    border-bottom-right-radius: 0.5rem;
  }
}

.galleryIcon {
  bottom: 2rem;
  left: 1rem;
  @include mq("md") {
    bottom: 2rem;
    left: 3rem;
  }
  @include mq("lg") {
    bottom: 2rem;
    left: 5rem;
  }
  @include mq("xl") {
    bottom: 2rem;
    left: 8rem;
  }
}
